@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* FONTES - principal */

  .italic{
    font-style: italic;
  }

  .purple{
    color: #5F328C;
  }

  .verde{
    color: #5cbab3;
  }

  .verdeclaro{
    color: #9DF6C4;
  }

  .font8px{
    font-size: 8px;
  }

  /* Thin 100 */
  .thin100{
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }

  /* Light 300 */
  .light300{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 8px;
    line-height: 9px;
  }

  /* Medium 200 */
  .medium200{
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
  }

  /* Regular 400 */
  .regular400{
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
  }

  /* Medium 500 */
  .medium500{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
  }

    /* Medium 500 menor */
    .medium500menor{
      font-family: 'Roboto';
      font-style: italic;
      font-weight: 500;
      line-height: 15px;
      text-align: center;
    }

  /* Bold 700 */
  .bold700{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */
    text-align: center;
  }

  /* Black 900 */

/* página */

body{
  font-family: 'Roboto', 'sans-serif';
  
}

header{
  position: fixed;
  margin-top: -120px;
}

main{
  margin-top: 120px;
}

.logo1{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0%;
    margin-left: 4.7rem;
    width: 15rem;
    margin-bottom: 2rem;
}

.business{
    font-weight: bold;
    font-style: italic;
}

.content-inicial{
    background-image: linear-gradient(to bottom, rgba(255,255,255,1.5), rgba(157, 36, 161, 0.509)), url(imgs/mundodigital.svg);
		background-size: cover;
    /* background-image: url(imgs/mundodigital.svg); */
} 

.dropbtn {
    font-size: 40px;
    border: none;
    color: #5F328C;
    padding: 16px;
    background-color: white;
    font-family: inherit;
    text-decoration: none;
  }

  .dropdown{
    position: absolute;
    display: block;
    margin-left: 0%;
    margin-top: 0%; 
    width: 375px;
    background-color: #FFF;
  }

  .dropdown-content{
    display: none;
    position: absolute;
    overflow: hidden;
    background-color: #FFF;
    color: #fff;
    min-width: 375px;
    max-height: 500px;
    padding: 16px;
  }

  .show{
    display: block;
    overflow: auto;
  }

  #forms{
    margin-top: -50px;
  }

  .forms{
    display: flex;
    padding: 2rem;
    margin-top: 2rem;
    justify-content: center;
  }

  .form-control{
    display: flex;
    margin: 1rem;
    width: 271px;
    height: 45px;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 5px;
    border-color: #9df6c4;
  }

  .texto-forms{
    text-align: center;
    color: #5F328C;
    font-size: 20px;
    font-weight: 600;
  }

  .botao-enviar{
    margin-left: 65px;
    left: 71px;
    border-radius: 20px;
    width: 188px;
    height: 48px;
    background-color: #5cbab3;
    color: #5F328C;
    font-weight: 600;
    font-size: 21px;
    border-style: solid;
    border-color: #5cbab3;
    box-shadow: 2px 5px 4px #1f1f1f
  }

  .slogan{
    text-align: center;
    color: #5F328A;
    font-size: 24px;
    margin-bottom: -30px;
  }

  .video{
    text-align: center;
    margin: 4rem;
    margin-left: 2%;
  }

/* SECTION - frase-impacto */

.impacto-pos-form{
  background-color: #fff;
  display: flex;
  height: 550px;
  flex-direction: column;
}

.chamada-impacto1{
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 0px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3em;
  margin-top: 25px;
}

.linha{
  width: 80px;
  border-color: #89FBBB;
}

.chamada-impacto2{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */
  text-align: center;
  color: #5CBAB3;
  margin-top: -10px;
  margin-left: 7px;
}

.container-a, .container-b, .container-c{
  display: flex;
}

.container-vantagens, .container-interesses, .container-saiba-antes, .container-calendario, .container-aportes, .container-entre-outros{
  text-align: center;
  padding: 10px;
  width: 60px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 100%;
}

.simbolo-vantagem, .simbolo-interesses, .simbolo-saiba-antes, .simbolo-calendario, .simbolo-aporte, .simbolo-entre-outros{
  text-align: center;
}

.conteudo-vantagem, .conteudo-interesses, .conteudo-saiba-antes, .conteudo-calendario, .conteudo-aporte, .conteudo-entre-outros{
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  /* or 136% */
  text-align: center;
  color: #000;
}

.titulo-vantagem, .titulo-interesses, .titulo-saiba-antes, .titulo-calendario, .titulo-aporte, .titulo-entre-outros{
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  /* or 136% */ 
  text-align: center;
  color: #5CBAB3;
}

/* FIM DA SECTION - frase-impacto */

/* SECTION - frase-impacto */

  .carrossel-topicos{
    /* border-style: solid;
    border-width: 2px;
    border-color: red; */
    width: 100%;
    height: 24rem;
    padding: 0rem;
    background-color: #89FBBB;
  }

  .topicos-escolha{
    margin-top: 22px;
    text-align: center;
    color: #5F328C;
    font-weight: 300;
    padding-top: 21px;
    font-size: 32px;
  }

  .sua-escolha-b{
    font-weight: bold;
  }

  .veja{
    color: #89FBBB;
  }

  .nossos-resultados{
    font-weight: bold;
    color: #ffffff;
    font-style: italic;
  }

  .container-resultados{
    background-color: #5F328C;
  }

  .container-frase-resultados{
    text-align: center;
    padding-top: 1rem;
  }

  .linha-0{
    border-color: #4D2674;
    width: 105px;
  }

  .porcentagem-resultados{
    background-color: #4D2674;
    /* border-color: red;
    border-style: solid;
    border-width: 2px; */
    margin-top: 17px;
    width: 17rem;
    /* display: flex; */
    margin: 2rem;
    border-radius: 5px;
    padding: 1rem;
    padding-top: 1px;
    margin-top: 15px;
  }

  .container-clicks-e-downloads, .container-downloads, .container-redirecionamento-e-parceiros, .container-portais-e-recursos{
    display: flex;
    margin-top: 20px;
  }

  .clicks, .redirecionamento, .portais{
    padding-right: 25px;
  }

  .clicks{
    padding-right: 46px;
  }

  .frase-final-resultados{
    text-align: center;
  }

  .portais{
    padding-right: 35px;
  }

  .formNewsletter{
    text-align: center;
  }

  .frase-final-resultados{
    margin-top: 2rem;
  }

  .form-control-2{
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    width: 252px;
    height: 27px;
    text-align: center;
    font-size: 16px;
  }

  .button-assine{
    background-color: #5CBAB1;
    width: 96px;
    height: 26px;
    border-radius: 14px;
    margin-top: 5px;
    margin-bottom: 27px;
    font-size: 16px;
    font-weight: 600;
    color: #5F328C;
  }

  .assine-nossa-nl{
    margin-bottom: 9px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 200;
  }

  .numeros-resultados{
    color: #9df6c4;
    font-weight: 900;
    font-size: 36px;
    padding-right: 1px;
  }

  .descrição-resultados{
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 900;
  }

  .tudo-isso{
    color: #9df6c4;
  }

  .frase-impacto-resultados{
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
  }

  .frase-importante-resultados{
    color: #9df6c4;
    font-size: 23px;
    font-weight: 100;
  }

  .newsletter{
    color: #9df6c4;
  }

  .um-app{
    font-size: 32px;
    color: #ffffff;
    font-style: italic;
  }


/* SECTION - empresas */

  .empresas{
    height: 500px;
  }

  .frase-empresas{
    text-align: center;
    margin-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #5CBAB3
  }

  .estaofalando{
    margin-top: -25px;
  }

  .boxempresas{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    padding: 20px;
    margin-top: -30px;
    height: 100px;
  }

  .container-linha1, .container-linha2, .container-linha3{
    display: flex;
    padding: 20px;
  }

  /* carrossel das empresas */


  /* fim do carrossel das empresas */




/* FIM DA SECTION - empresas */

/*INÍCIO - quemsomos*/

  .quemsomos{
    height: 457px;
    background-color: #9DF6C4;
    padding-top: 10px;
  }

  .t-quemsomos{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1em;
  }

  .container-quemsomos{
    display: flex;
    background-color: #FFF;
    padding: 10px;
    margin-top: 10px;
  }

  .mão{
    padding: 10px;
  }

  .t-criada{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    padding: 10px;
  }

  .container-identidade{
    background: linear-gradient(90deg, #5F328C 50%, #9DF6C4 50%);
    height: 200px;
  }

  .t-qualidentidade{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 10px;
  }

  .retangulobranco{
    width: 217px;
    height: 108px;
    left: 52px;
    top: 236px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-left: 78px;
  }

  .t-trazerfatos{
    text-align: center;
    padding: 5px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .container-saudacao{
    background: linear-gradient(90deg, #9DF6C4 50%, #FFF 50%);
    height: 72px;
  }

  .retanguloroxo{
    width: 301px;
    height: 39px;
    background: #5F328C;
    border-radius: 10px;
    margin-left: 40px;
  }

  .saudacao{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding-top: 7px;
  }

/* FIM DA SECTION - quemsomos*/

/*INÍCIO - BAIXAR-APP*/

.baixar{
  height: 400px;
  background-color: #642c93;
  margin-top: -13px;
}

.baixe-app{  
  height: 15rem;
}

.iphone{
  width: 5rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  margin-left: 10%;
  margin-top:5%;
}

.call-action-app{
  margin-top: -40%;
}

/*FORMULÁRIO 2*/


.forms-final{
  border: none;
  margin: 3rem;
}

.texto-pt1{
  font-size: 1.25rem;
  margin-top: -7%;
  margin-bottom: -4%;
}

.b{
  font-weight: bold;
  color: #642c93;
}

.n{
  font-weight: bold;
  color: #9df6c4;
}

.texto-pt2{
  font-size: 0.8rem;
  margin-bottom: -4%;
}

.container-txt{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 7rem;
}

.txt-roxo{
  display: block;
  position: absolute;
  top: 7%;
}

.txt-roxo input{
  margin-top: 7%;
  width: 40%;
  height: 20px;
  font-size: 1rem;
  padding-left: 20px;
  border-color: #642c93;
  border-radius: 5px;
}

.txt-verde{
  display: block;
  position: absolute; 
  top: 7%; 
}

.txt-verde input{
  margin-top: 7%;
  width: 40%;
  height: 20px;
  font-size: 1rem;
  padding-left: 20px;
  border-color: #9df6c4;
  border-radius: 5px;
  margin-left: 56%;
}

.btn-inscrever{
  background-color: #9df6c4;
  color: #642c93;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-left: 27%;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

/*FIM FORMULÁRIO 2*/

/*INÍCIO FOOTER*/

  .container-logos{
  display: flex;
  flex-direction: column;
  position: relative;
  }

  .twitter{
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-top: 6%;
    margin-left: 5%;
  }

  .linkedin{
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-left: 20%;
    margin-top: 6%;
  }

  .logo-completo{
    display: block;
    position: absolute;
    width: 8rem;
    height: 4rem;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-left: 30%;
  }

  .instagram{
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-left: 70%;
    margin-top: 6%;
  }

  .facebook{
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-left: 85%;
    margin-top: 6%;
  }

  .fundo-footer{
    background-color: #9DF6C4;
    border-radius: 3rem 3rem 0 0;
    padding: 0rem 8rem 5rem 8rem;
  }

  .container-frase-footer{
    margin-top: 67%;
    margin-left: -100%;
    padding: 1rem;
    width: 20rem;
    text-align: center;
    font-size: 0.8rem;
  }

  .container-frase-footer strong{
    font-weight: bold;
  }

  .container-logo-abreviado{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: -18%;
  }

  .container-menuL{
    display: block;
    position: absolute;
    text-align: center;
    color: #642c93;
    font-weight: bold;
    font-size: 0.7rem;
    padding: 2rem;
    margin-top: -30%;
    margin-left: -35%;
  }

  .container-menuD{
    display: block;
    position: absolute;
    text-align: center;
    color: #642c93;
    font-weight: bold;
    font-size: 0.7rem;
    padding: 1rem;
    margin-top: -26%;
    margin-left: 26%;
  }

  .container-razao-social{
    display: block;
    position: absolute;
    text-align: center;
    color: #642c93;
    font-weight: bold;
    font-size: 0.6rem;
    padding: 1rem;
    margin-top: 3%;
    margin-left: -35%;
  }

/*FIM FOOTER*/
