@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.logo1{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0%;
    margin-left: 4rem;
    width: 15rem;
    margin-bottom: 2rem;
}



.dropbtn {
    font-size: 40px;
    border: none;
    color: #5F328C;
    padding: 16px;
    background-color: white;
    font-family: inherit;
    text-decoration: none;
  }

  .dropdown{
    position: absolute;
    display: block;
    margin-left: 0%;
    margin-top: 0%;
    
  }

  .dropdown-content{
    display: none;
    position: absolute;
    overflow: hidden;
    background-color: #cacaca;
    color: #fff;
    min-width: 160px;
    max-height: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 16px;
  }

  .show{
    display: block;
    overflow: auto;
  }

  .forms{
    display: flex;
    border-style: solid;
    border-width: 2px;
    padding: 2rem;
    margin-top: 2rem;
    justify-content: center;
  }

  .form-control{
    display: flex;
    margin: 1rem;
    width: 271px;
    height: 45px;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 5px;
    border-color: #9df6c4;
  }

  .texto-forms{
    text-align: center;
    color: #64477B;
    font-size: 20px;
    font-weight: 600;
  }

  .botao-enviar{
    position: relative;
    left: 71px;
    border-radius: 20px;
    width: 188px;
    height: 48px;
    background-color: #5cbab3;
    color: #5F328C;
    font-weight: 600;
    font-size: 21px;
  }

  .slogan{
    text-align: center;
    color: #5F328A;
    font-size: 24px;
    font-weight: 200;
  }

  .video{
    text-align: center;
    margin: 4rem;
  }

  .carrossel-topicos{
    border-style: solid;
    border-width: 2px;
    border-color: red;
    width: 100%;
    height: 24rem;
    padding: 0rem;
    background-color: #89FBBB;
  }

  .topicos-escolha{
    margin-top: 22px;
    text-align: center;
    color: #5F328C;
    font-weight: 300;
  }

  .container-resultados{
    background-color: #5F328C;
  }

  .container-frase-resultados{
    text-align: center;
    padding-top: 1rem;
  }

  .linha-0{
    border-color: #4D2674;
    width: 105px;
  }

  .porcentagem-resultados{
    background-color: #4D2674;
    /* border-color: red;
    border-style: solid;
    border-width: 2px; */
    margin-top: 17px;
    width: 17rem;
    /* display: flex; */
    margin: 2rem;
    border-radius: 5px;
    padding: 1rem;
    padding-top: 1px;
  }

  .container-clicks-e-downloads, .container-downloads, .container-redirecionamento-e-parceiros, .container-portais-e-recursos{
    display: flex;
    margin-top: 20px;
  }

  .clicks, .redirecionamento, .portais{
    padding-right: 20px;
  }

  .clicks{
    padding-right: 46px;
  }

  .frase-final-resultados{
    text-align: center;
  }

  .formNewsletter{
    text-align: center;
  }

  .frase-final-resultados{
    margin-top: 2rem;
  }

  .form-control-2{
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    width: 252px;
    height: 27px;
    text-align: center;
    font-size: 16px;
  }

  .button-assine{
    background-color: #5CBAB1;
    width: 96px;
    height: 26px;
    border-radius: 14px;
    margin-top: 5px;
    margin-bottom: 27px;
    font-size: 16px;
    font-weight: 600;
    color: #5F328C;
  }

  .assine-nossa-nl{
    margin-bottom: 9px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 200;
  }

  .numeros-resultados{
    color: #9df6c4;
    font-weight: 900;
    font-size: 36px;
    padding-right: 1px;
  }

  .descrição-resultados{
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 900;
  }

  .tudo-isso{
    color: #9df6c4;
  }

  .frase-impacto-resultados{
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
  }

  .frase-importante-resultados{
    color: #9df6c4;
    font-size: 23px;
  }

  .um-app{
    font-size: 32px;
    color: #ffffff;
  }











/* SECTION - frase-impacto */

.impacto-pos-form{
  background-color: #fff;
  display: flex;
  font-family: 'Roboto';
  height: 600px;
  flex-direction: column;
}

.chamada-impacto1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 0px;
  /* identical to box height, or 0% */
  align-items: center;
  text-align: center;
  letter-spacing: 0.3em;
  margin-top: 20px;
}

.linha{
  width: 80px;
  border-color: #89FBBB;
}

.chamada-impacto2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */
  display: flex;
  text-align: center;
  color: #5CBAB3;
  margin-top: -10px;
  margin-left: 25px;
}

.container-a, .container-b, .container-c{
  display: flex;
}

.container-vantagens, .container-interesses, .container-saiba-antes, .container-calendario, .container-aportes, .container-entre-outros{
  text-align: center;
  padding: 10px;
  width: 100px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 80%;
}

.simbolo-vantagem, .simbolo-interesses, .simbolo-saiba-antes, .simbolo-calendario, .simbolo-aporte, .simbolo-entre-outros{
  text-align: center;
}

.conteudo-vantagem, .conteudo-interesses, .conteudo-saiba-antes, .conteudo-calendario, .conteudo-aporte, .conteudo-entre-outros{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  /* or 136% */
  text-align: center;
  color: #000;
}

.titulo-vantagem, .titulo-interesses, .titulo-saiba-antes, .titulo-calendario, .titulo-aporte, .titulo-entre-outros{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  /* or 136% */ 
  text-align: center;
  color: #5CBAB3;
}

/* FIM DA SECTION - frase-impacto */
